<!--<p>
  home works!
</p>-->
<!--<router-outlet></router-outlet>-->


<div class="container-fluid">
<!--  <img src="../assets/img/background/banner-2.jpg" id="bg" alt="">-->
<!--
<video autoplay loop poster="polina.jpg" id="vid">
    <source src="../../assets/video/courier.mp4" type="video/mp4">
    </video>
-->
<!--<img src="./assets/img/background/banner-2.jpg" id="bg" alt="">-->
        <!--<section class="banner banner-style2 mask-overlay pt-120 white-clr">-->


            <section class="banner banner-style2 mask-overlay pt-120 white-clr"
            style="margin-top: 110px;">
<!--
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'register')" id="defaultOpen">Register</button>

  <button class="tablinks" onclick="openCity(event, 'signin')">Sign In</button>
  <button class="tablinks" onclick="openCity(event, 'reset')" >Reset</button>
   <button class="tablinks" onclick="openCity(event, 'social')" >Social Sharing</button>

</div>


<div id="signin" class="content1">
 <input type="text" id="username1" name="username1" placeholder="Username" title="Please enter your First Name" required="">
<input type="password" id="password1" name="password" placeholder="Password" title="Please enter your First Name" required="">
</div>
-->





                    <div class="pad-50 hidden-xs"></div>

                    <div class="container theme-container rel-div">
                        <br><br><br><br>
                       <!-- <img class="pt-10 effect animated fadeInLeft" alt="" src="./assets/img/icons/icon-1.png" />-->
                        


                         <h2 class="section-title fs-48 effect animated wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s"> awesome place for <br> <span class="theme-clr"> courier </span> & <span class="theme-clr"> delivery </span> services </h2>


                        <!--
                        <h2 class="section-title fs-48 effect animated wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s"> awesome place for <br> <span class="theme-clr"> courier </span> & <span class="theme-clr"> delivery </span> services </h2>
                        -->

                        <div class="pad-30"></div>
                        <!--<ul class="list-items fw-600 effect animated wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">   
                            <li><a href="#">fast</a></li>
                            <li><a href="#">secured</a></li>
                            <li><a href="#">worldwide</a></li>
                        </ul>
                        -->

                       
                        <!--
                        <h2 class="section-title fs-48 effect animated wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s"> awesome place for <br> <span class="theme-clr"> courier </span> & <span class="theme-clr"> delivery </span> services </h2>
                        <div class="pad-30"></div>
                    -->

                     <div class="col-md-8 col-md-offset-2 tracking-form text-left effect animated fadeInUp track">     
                            <h2 class="title-1"> track your product </h2> 
                            <span class="font2-light fs-12">Now you can track your product easily</span>
                            <div class="row">
                                <form class="">
                                    <div class="col-md-7 col-sm-7">
                                        <div class="form-group">
                                            <input type="text" class="form-control box-shadow" required="" placeholder="Enter your product ID">
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <div class="form-group">
                                            <button class="btn-1">track your product</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="pad-10"></div>
                        </div>

                    </div>  



<!--
 <div class="col-md-8 col-md-offset-2 tracking-form text-left effect animated fadeInUp track">     
                            <h2 class="title-1"> track your product </h2> 
                            <span class="font2-light fs-12">Now you can track your product easily</span>
                            <div class="row">
                                <form class="">
                                    <div class="col-md-7 col-sm-7">
                                        <div class="form-group">
                                            <input type="text" class="form-control box-shadow" required="" placeholder="Enter your product ID">
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <div class="form-group">
                                            <button class="btn-1">track your product</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="pad-10"></div>
                        </div>
-->
                </section>
         

                <!-- Services -->


                <div class="row">
    <div class="blackclr">
        <div class="col-md-3">
            <div class="service">
                <div class="data" style="border-right: 1px solid white;"><i class="fa fa-indent"></i> Smart Service</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="service">
                <div class="data" style="border-right: 1px solid white;"><i class="fa fa-check-square-o"></i> Easy Tracking</div> 
            </div>
        </div>
        <div class="col-md-3">
            <div class="service">
                <div class="data" style="border-right: 1px solid white;"><i class="fa fa-american-sign-language-interpreting"></i> Safe Hands</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="service">
                <div class="data"><i class="fa fa-cubes"></i> Bulk Ordering</div>
            </div>
        </div>
    </div>
</div>

                <!-- /.Services -->







                <!-- Calculate Your Cost -->
                <section class="calculate pt-100">
                    <div class="theme-container container">  
                        <span class="bg-text right wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s"> calculate </span>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <img src="assets/img/block/Courier-Man.png" alt="" class="wow slideInLeft" data-wow-offset="50" data-wow-delay=".20s" />
                            </div>
                            <div class="col-md-6">   
                                <div class="pad-10"></div>
                                <h2 class="section-title pb-10 wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s" > calculate your cost </h2>
                                <p class="fs-16 wow fadeInUp" data-wow-offset="50" data-wow-delay=".25s"></p>
                                <div class="calculate-form">
                                    <form class="row">
                                        <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                            <div class="col-sm-3"> <label class="title-2"> height (cm): </label></div>
                                            <div class="col-sm-9"> <input data-bind="in:value, f: float" data-name="height" type="text" placeholder="" class="form-control"> </div>
                                        </div>
                                        <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                            <div class="col-sm-3"> <label class="title-2"> width (cm): </label></div>
                                            <div class="col-sm-9"> <input data-bind="in:value, f: float" data-name="width" type="text" placeholder="" class="form-control"> </div>
                                        </div>
                                        <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                            <div class="col-sm-3"> <label class="title-2"> depth (cm): </label></div>
                                            <div class="col-sm-9"> <input data-bind="in:value, f: float" data-name="depth" type="text" placeholder="" class="form-control"> </div>
                                        </div>
                                        <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                            <div class="col-sm-3"> <label class="title-2"> weight (kg): </label></div>
                                            <div class="col-sm-9"> <input data-bind="in:value, f: float" data-name="weight" type="text" placeholder="" class="form-control"> </div>
                                        </div>
                                        <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                            <div class="col-sm-3"> <label class="title-2"> location: </label></div>
                                            <div class="col-sm-9"> 
                                                <div class="col-sm-6 no-pad">
                                                    <input type="text" data-bind="in:value" data-name="locations[from]" placeholder="From" class="form-control from fw-600">
                                                </div>
                                                <div class="col-sm-6 no-pad">
                                                    <input type="text" data-bind="in:value" data-name="locations[to]" placeholder="To" class="form-control to fw-600">
                                                </div>
                                            </div>                                        
                                        </div>
                                        <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                            <div class="col-sm-3"> <label class="title-2"> Package: </label></div>
                                            <div class="col-sm-9"> 
                                                <div class="form-group">
                                                    <select data-bind="in:value" data-name="package" class="selectpicker form-control" data-live-search="true" data-width="100%"
                                                            data-toggle="tooltip" title="select your package">
                                                        <option value="cost">Usual Delivery</option>
                                                        <option value="cost + 25">Fastest Delivery: + $25</option>
                                                        <option value="cost*0.9">Discount Delivery: -10%</option>
                                                    </select>
                                                </div>                                           
                                            </div>                                        
                                        </div>                                    
                                        <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                            <div class="col-sm-9 col-xs-12 pull-right"> 
                                                <div class="btn-1"> <span> Total Cost: </span>
                                                    <span data-bind="out:price, f:currency" data-name="cost" class="btn-1 dark">
                                                        <span class="pr-sign">-&nbsp;</span> $<span class="pr-wrap" style="display: none;"><span class="pr">0</span></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="pt-80 hidden-lg"></div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.Calculate Your Cost -->


 <!-- Product Delivery -->
                <section class="prod-delivery pad-120">
                    <div class="theme-container container">               
                        <div class="row">
                            <div class="col-md-11 col-md-offset-1">
                                <div class="pt-120 rel-div">
                                    <div class="pb-50 hidden-xs"></div>
                                    <h2 class="section-title wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s"> Get the <span class="theme-clr"> fastest </span> product delivery </h2>
                                    <p class="fs-16 wow fadeInUp" data-wow-offset="50" data-wow-delay=".25s"></p>
                                    <div class="pb-120 hidden-xs"></div>
                                </div>
                                <div class="delivery-img pt-10">
                                    <img alt="" src="assets/img/block/delivery.png" class="wow slideInLeft" data-wow-offset="50" data-wow-delay=".20s"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.Product Delivery -->



         <section class="steps-wrap mask-overlay pad-80">                
                    <div class="theme-container container">               
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="font-2 fs-50 wow fadeInLeft" data-wow-offset="50" data-wow-delay=".20s"> 1. </div> 
                                <div class="steps-content wow fadeInLeft" data-wow-offset="50" data-wow-delay=".25s"> 
                                    <h2 class="title-3">Order</h2> 
                                                                               
                                </div>  
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="font-2 fs-50 wow fadeInLeft" data-wow-offset="50" data-wow-delay=".20s"> 2. </div> 
                                <div class="steps-content wow fadeInLeft" data-wow-offset="50" data-wow-delay=".25s"> 
                                    <h2 class="title-3">Wait</h2> 
                                                                               
                                </div>  
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="font-2 fs-50 wow fadeInLeft" data-wow-offset="50" data-wow-delay=".20s"> 3. </div> 
                                <div class="steps-content wow fadeInLeft" data-wow-offset="50" data-wow-delay=".25s"> 
                                    <h2 class="title-3">Deliver</h2> 
                                                                                
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="step-img wow slideInRight" data-wow-offset="50" data-wow-delay=".20s"> <img src="assets/img/block/step-img.png" alt="" /> </div>
                </section>





  

<!--<br><br><br><br><br><br><br><br>-->






<!--
<div class="col-md-12 col-lg-12 col-sm-12 services footerTop">
<p><b>BEST CUSTOMER SERVICES</b></p>
    </div>

<div class="insideFooter">



<div class="container row footerCenter">



<div class="col-md-3 col-sm-3 col-xs-6 col-lg-3">
<ul style="color: white;font-size:20px"><b><u>About Us</u></b><br><br>
<li style="color:white;font-size:15px">Our Company</li>
<li style="color:white;font-size:15px">Terms&conditions</li>
<li style="color:white;font-size:15px">Discount policy</li>
<li style="color:white;font-size:15px">FAQS</li>
</ul>
</div>




<div class="col-md-3 col-sm-3 col-xs-6 col-lg-3">
<ul style="color:white;font-size:20px"><b><u>Delivery To.....</u></b><br><br>
<li style="color:white;font-size:15px">Parcel delivery to US</li>
<li style="color:white;font-size:15px">Parcel delivery to India</li>
<li style="color:white;font-size:15px">Parcel delivery to China</li>
<li style="color:white;font-size:15px">Parcel delivery to UK</li>
<li style="color:white;font-size:15px">Parcel delivery to Germany</li>
</ul>
</div>



<div class="col-md-3 col-sm-3 col-xs-6 col-lg-3">
<ul style="color: white;font-size:20px"><b><u>Tools</u></b><br><br>
<li style="color:white;font-size:15px">Parcel Tracking</li>
<li style="color:white;font-size:15px">My Account</li>
<li style="color:white;font-size:15px">Volume Calculator</li>
<li style="color:white;font-size:15px">Know your price</li>
<li style="color:white;font-size:15px"><b>***</b></li>
</ul>
</div>



<div class="col-md-3 col-sm-3 col-xs-6 col-lg-3">
    <div class="row">


 <div class="col-md-12">

<h2>Socialize with me</h2>
 </div>

    <div class="col-md-12">
    <i class="fa fa-facebook-square" style="font-size: 35px;color:wheat"></i>
  
<i class="fa fa-google-plus-square" style="font-size: 35px;color:wheat"></i>
<i class="fa fa-instagram" style="font-size: 35px;color:wheat"></i>
 <i class="fa fa-youtube" style="font-size: 35px;color:wheat"></i>  
<i class="fa fa-twitter" style="font-size: 35px;color:wheat"></i>  
</div>




</div>
</div>









</div>


<div class="col-md-12 col-lg-12 col-sm-12 footerDown" style="margin-top:0px;height:20px;font-size:13px;
  color:white;width:100%;text-align:center">Copyright@Greatwits Services Pvt. Ltd.
</div>



</div>

-->


<footer class="containerAbc nav-folderized">
    <div class="row">
        <div class="col-md-2 ftr__list nav">
           <h4>About Us</h4>
            <ul>
               <!-- <li><label class="heady">About Us</label></li>
                <hr>-->
                <li class="items">Our Company</li>
                <li class="items">Our Couriers</li>
                <li class="items">Terms & Conditions</li>
                <li class="items">FAQs</li>
                <li class="items">Content Hub</li>
            </ul>
        </div>
        <div class="col-md-2 ftr__list nav">
          <h4>Delivery Options</h4>
            <ul>
                <!--<li><label class="heady">Delivery Options</label></li>
                <hr>-->
                <li class="items">By Air</li>
                <li class="items">By Ship</li>
                <li class="items">By Cargo</li>
            </ul>
        </div>
        <div class="col-md-2 ftr__list nav">
          <h4>Coverage</h4>
            <ul>
                <!--<li><label class="heady">Coverage</label></li>
                <hr>-->
                <li class="items">Local</li>
                <li class="items">National</li>
                <li class="items">International</li>
                <li class="items">Zap Delivery</li>
            </ul>
        </div>
        <div class="col-md-2 ftr__list nav">
          <h4>Tools</h4>
            <ul>
                <!--<li><label class="heady">Tools</label></li>
                <hr>-->
                <li class="items">Get a Quote</li>
                <li class="items">Parcel Tracking</li>
                <li class="items">My Account</li>
                <li class="items">Volume Calculator</li>
                <li class="items">PrePay</li>
                <li class="items">Item Advice</li>
            </ul>
        </div>
        <div class="col-md-4 ftr__list nav">
          <h4>Follow Us</h4>
                <!--<div class="cons">-->
                    <ul>
                  <!--      <li><label class="heady">Follow Us</label></li><hr>-->
                        <li class="items"><i class="fa fa-twitter"></i><i class="fa fa-twitch"></i><i class="fa fa-google-plus"></i><i class="fa fa-facebook-official"></i></li>
                    </ul>
                </div>
                <div class="col-md-4 ftr__list nav">
                  <h4>Partners</h4>

                    <ul>
                        <!--<li><label class="heady">Partners</label></li><hr>-->
                        <li class="items"><i class="fa fa-truck"></i><i class="fa fa-ship"></i><i class="fa fa-plane"></i></li>
                    </ul>
                </div>
      
    </div>
    <hr>
    <div>
        © posTrack.com Ltd 2017 All Rights Reserved. | Company Number: XXXXXXXXX
    </div><br><br><br>
</footer>


