<div *ngIf="regDiv" class="panel panel-primary">
  <div class="panel-heading">User Registration</div>
  <form #userForm="ngForm" (ngSubmit)="getUser(userForm.value)">
  <div class="panel-body">
      <div class="row text-center">
        <div class="col-md-6">
          <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control has-success has-error has-feedback" placeholder="First Name *" required ngModel pattern="[a-zA-Z][a-zA-Z]+" title="Must contain only Alphabets" name="fname"  #fname="ngModel">
                <span *ngIf="fname.dirty || fname.touched">
                  <span *ngIf="fname.errors" class="glyphicon glyphicon-remove form-control-feedback"></span>
                  <span *ngIf="!fname.errors" class="glyphicon glyphicon-ok form-control-feedback"></span>              
                </span>
              </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control has-success has-error has-feedback" placeholder="Last Name *" required ngModel pattern="[a-zA-Z][a-zA-Z]+" title="Must contain only Alphabets" name="lname" #lname="ngModel">
                <span *ngIf="lname.dirty || lname.touched">
                  <span *ngIf="lname.errors" class="glyphicon glyphicon-remove form-control-feedback"></span>
                  <span *ngIf="!lname.errors" class="glyphicon glyphicon-ok form-control-feedback"></span>              
                </span>
          </div>
        </div>                    
      </div>

      <div class="row">
      <div class="col-md-12">
          <div class="input-group" id="genderbox" >
                <span class="input-group-addon"><i class="fa fa-female"></i> | <i class="fa fa-female"></i></span>
                <select class="form-control has-success has-error has-feedback" required name="gender" #gender ="ngModel" ngModel>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
            </div>
      </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-home"></i></span>
            <input type="text" placeholder="Street" class="form-control" name="street" #street="ngModel" ngModel>
          </div>	
        </div>
      
        <div class="col-md-4">
          <div class="input-group"><span class="input-group-addon"><i class="fa fa-building"></i></span>
            <input type="text" placeholder="City" class="form-control" name="city" #city="ngModel" ngModel>
          </div>	
        </div>

        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-flag-checkered"></i></span>
            <input type="text" placeholder="Country" class="form-control" name="country" #country="ngModel" ngModel>
          </div>
        </div>		
      </div>

      <div class="row text-center">  
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="text" class="form-control has-success has-error has-feedback" placeholder="Email *" required name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Eg:- abc123@domain.com" ngModel #email="ngModel">
                <span *ngIf="email.dirty || email.touched">
                  <span *ngIf="email.errors" class="glyphicon glyphicon-remove form-control-feedback"></span>
                  <span *ngIf="!email.errors" class="glyphicon glyphicon-ok form-control-feedback"></span>              
                </span>
            </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                <input type="text" class="form-control has-success has-error has-feedback" placeholder="Mobile *" required name="mob" pattern="[789][0-9]{9}" title="A Valid 10 Digit Number" minlength="10" maxlength="10" ngModel #mob="ngModel">
                <span *ngIf="mob.dirty || mob.touched">
                  <span *ngIf="mob.errors" class="glyphicon glyphicon-remove form-control-feedback"></span>
                  <span *ngIf="!mob.errors" class="glyphicon glyphicon-ok form-control-feedback"></span>              
                </span>
          </div>
        </div>                    
      </div>

      <div class="row text-center">  
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control has-success has-error has-feedback" placeholder="PassWord *" required name="pass" maxlength="20" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Minimum 8 Characters long with at least One Uppercase, One Lowercase & One digit" ngModel #pass="ngModel" [(ngModel)]="password">
                <span *ngIf="pass.dirty || pass.touched">
                  <span *ngIf="pass.errors" class="glyphicon glyphicon-remove form-control-feedback"></span>
                  <span *ngIf="!pass.errors" class="glyphicon glyphicon-ok form-control-feedback"></span>              
                </span>
            </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control has-success has-error has-feedback" placeholder="Confirm PassWord *" required name="cpass" title="Same as Password" ngModel #cpass="ngModel" [(ngModel)]="cpassword">
                <span *ngIf="cpass.dirty || cpass.touched">
                  <span *ngIf="cpassword!=password || cpassword==empty" class="glyphicon glyphicon-remove form-control-feedback"></span>
                  <span *ngIf="cpassword==password && cpassword!=empty" class="glyphicon glyphicon-ok form-control-feedback"></span>              
                </span>
          </div>
        </div>                    
      </div>
  </div>
  <div class="panel-footer">
      <div class="row" style="border-bottom: 1px solid #ddd">
        <div class="col-md-5" style="color: #337ab7">* Fields are mandatory</div>
        <div class="col-md-2"></div>
        <div class="col-md-5" style="color: #337ab7; text-align:right;"><a style="cursor:pointer" (click)="LogMe()">Already Registered ?</a></div><br><br>
      </div>

      <div class="row">
        <div class="col-md-6">
          <button type="reset" class="btn btn-success">Reset <i class="fa fa-refresh"></i></button>
        </div>
        <div class="col-md-6 text-right">
          <button [disabled]="!userForm.valid" type="submit" class="btn btn-success">Next <i class="fa fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Track Panel !!! -->

<div *ngIf="trackDiv" class="panel panel-primary" style="width:70%">
  <form #ship="ngForm" (ngSubmit)="getShip(ship.value)">
    <div class="panel-heading" style="background-color: #152a96; border-bottom:1px solid white">
        <h3>Courier Booking</h3>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <div class="input-group has-feedback">
              <span class="input-group-addon">From: </span>
              <input type="text" placeholder="Address" class="form-control" name="fromPlace" ngModel>
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group has-feedback">
              <span class="input-group-addon">To: </span>
              <input type="text" placeholder="Address" class="form-control" name="toPlace" ngModel>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <button type="button" class="btn btn-warning adder" id="Add" (click)="Extns()">Add Items  <i class="fa fa-plus-square"></i></button>  
          </div>
          <div class="col-md-2 text-center">
            <button type="button" class="btn btn-warning adder" (click)="Dxtns()">Remove Items  <i class="fa fa-minus-square"></i></button>  
          </div>
        </div>
        <br>

      </div>
    <div *ngFor="let i of Arr" class="panel-body" style="background-color: #0c63a6;border-bottom:1px solid white">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
              <input type="text" placeholder="Quantity" class="form-control strip" name="qty" ngModel>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
              <input type="text" placeholder="Weight/Item" class="form-control strip" name="wt" ngModel>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
              <input type="text" placeholder="Price/Item" class="form-control strip" name="ppi" ngModel>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group">
              <input type="text" placeholder="Width" class="form-control strip" name="wd" ngModel>
              <span class="input-group-addon dabb"><i class="fa fa-times"></i></span>
              <input type="text" placeholder="height" class="form-control strip" name="ht" ngModel>
              <span class="input-group-addon dabb"><i class="fa fa-times"></i></span>
              <input type="text" placeholder="Length" class="form-control strip" name="len" ngModel>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
              <input type="text" placeholder="Type" class="form-control strip" name="type" ngModel>
          </div>
        </div>  
      </div>
    </div>
    <div *ngIf="trackFoot" class="panel-footer" style="background-color:#619af4">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
                <select class="form-control" name="pref" ngModel>
                  <option selected>Delivery Preference </option>
                  <option value="Standard">Standard</option>
                  <option value="Express">Express</option>
                  <option value="Custom">Custom</option>
                </select>
            </div>
        </div>
        <div class="col-md-5">
          
        </div>
        <div class="col-md-4 text-center">
          <button  class="btn btn-success" id="fsubmit">Submit</button>
        </div>
      </div>
  </div>
 </form>
</div>

