<div class="wrapper">
    <nav *ngIf="superadminsidebar.superadminSidebarVisible" id="sidebar">
        <div class="sidebar-header">
            <h4 class="user">Super Admin</h4>
        </div>
        <ul class="list-unstyled components">

                   


<li>
    <a [routerLink]="['superadmin']">Dashboard</a>
</li>



<li>
    <a href="#homeSubmenu3a" data-toggle="collapse" aria-expanded="false">Admin Management</a>
    <ul class="collapse list-unstyled" id="homeSubmenu3a">
        <li><a [routerLink]="['superadmin','createadmin']">Add Admin</a></li>
        <li><a [routerLink]="['superadmin','showadmin']">Show Admins</a></li>
    </ul>
</li>




<li>
    <a href="#homeSubmenu3b" data-toggle="collapse" aria-expanded="false">User Management</a>
    <ul class="collapse list-unstyled" id="homeSubmenu3b">
        <li><a [routerLink]="['superadmin','createuser']">Add User</a></li>
        <li><a [routerLink]="['superadmin','showuser']">Show Users</a></li>
    </ul>
</li>






<li>
    <a href="#homeSubmenu3c" data-toggle="collapse" aria-expanded="false">Courier Management</a>
    <ul class="collapse list-unstyled" id="homeSubmenu3c">
        <li><a [routerLink]="['superadmin','addcourier']">Add Courier</a></li>
        <li><a [routerLink]="['superadmin','showcourier']">Show Couriers</a></li>
    </ul>
</li>


<li>
    <a [routerLink]="['superadmin','payments']">Payments</a>
</li>





                </ul>

               
            </nav>






<div class="contentA">


<router-outlet>
    
</router-outlet>



 </div>



 

        </div>