                <section class="contact-page pad-30">                    
                    <div class="theme-container container">          




     
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-md-offset-1">
                                <ul class="contact-detail title-2 pt-50">
                                    <li class="wow fadeInUp" data-wow-offset="50" data-wow-delay=".30s"> <span>uk numbers:</span> <p class="gray-clr"> +001-2463-957 <br> +001-4356-643 </p> </li>
                                    <li class="wow fadeInUp" data-wow-offset="50" data-wow-delay=".40s"> <span>usa numbers:</span> <p class="gray-clr"> +001-2463-957 <br> +001-4356-643 </p> </li>
                                    <li class="wow fadeInUp" data-wow-offset="50" data-wow-delay=".50s"> <span>Email address:</span> <p class="gray-clr"> support@go.com <br> info@go.com </p> </li>
                                </ul>
                            </div>

                            <div class="col-md-5 col-sm-6 col-md-offset-1 contact-form">
                                <div class="calculate-form">
                                    <form class="row" id="contact-form">
                                        <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".30s">
                                            <div class="col-sm-3"> <label class="title-2"> Name: </label></div>
                                            <div class="col-sm-9"> <input type="text" name="Name" id="Name" required placeholder="" class="form-control"> </div>
                                        </div>
                                        <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".30s">
                                            <div class="col-sm-3"> <label class="title-2"> Email: </label></div>
                                            <div class="col-sm-9"> <input type="text" name="Email" id="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="" class="form-control"> </div>
                                        </div>
                                        <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".30s">
                                            <div class="col-sm-3"> <label class="title-2"> Phone: </label></div>
                                            <div class="col-sm-9"> <input type="text" name="Phone" id="Phone" placeholder="" class="form-control"> </div>
                                        </div>
                                        <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".30s">
                                            <div class="col-sm-3"> <label class="title-2"> Message: </label></div>
                                            <div class="col-sm-9"> <textarea class="form-control" name="Message" id="Message" required cols="25" rows="3"></textarea> </div>
                                        </div>                                  
                                        <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".30s">
                                            <div class="col-sm-9 col-xs-12 pull-right"> 
                                                <button name="submit" id="submit_btn" class="btn-1"> send message </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>





                <!-- /.Contact Us -->

<!--
<div class="divtable accordion-xs">
  <div class="tr headings">
    <div class="th firstname">First Name</div>
    <div class="th lastname">Last Name</div>
    <div class="th username">Username</div>
  </div>
  <div class="tr">
    <div class="td firstname accordion-xs-toggle">Mark</div>
    <div class="accordion-xs-collapse">
      <div class="inner">
        <div class="td lastname">Otto</div>
        <div class="td username">@mdo</div>
      </div>
    </div>
  </div>
  <div class="tr">
    <div class="td firstname accordion-xs-toggle">Jacob</div>
    <div class="accordion-xs-collapse">
      <div class="inner">
        <div class="td lastname">Thornton</div>
        <div class="td username">@fat</div>
      </div>
    </div>
  </div>
  <div class="tr">
    <div class="td firstname accordion-xs-toggle">Larry</div>
    <div class="accordion-xs-collapse">
      <div class="inner">
        <div class="td lastname">the Bird</div>
        <div class="td username">@<a href="http://www.jqueryscript.net/tags.php?/twitter/">twitter</a></div>
      </div>
    </div>
  </div>
</div>
-->


<footer class="container-fluid nav-folderized">
    <div class="row">
        <div class="col-md-2 ftr__list nav">
           <h4>About Us</h4>
            <ul>
               <!-- <li><label class="heady">About Us</label></li>
                <hr>-->
                <li class="items">Our Company</li>
                <li class="items">Our Couriers</li>
                <li class="items">Terms & Conditions</li>
                <li class="items">FAQs</li>
                <li class="items">Content Hub</li>
            </ul>
        </div>
        <div class="col-md-2 ftr__list nav">
          <h4>Delivery Options</h4>
            <ul>
                <!--<li><label class="heady">Delivery Options</label></li>
                <hr>-->
                <li class="items">By Air</li>
                <li class="items">By Ship</li>
                <li class="items">By Cargo</li>
            </ul>
        </div>
        <div class="col-md-2 ftr__list nav">
          <h4>Coverage</h4>
            <ul>
                <!--<li><label class="heady">Coverage</label></li>
                <hr>-->
                <li class="items">Local</li>
                <li class="items">National</li>
                <li class="items">International</li>
                <li class="items">Zap Delivery</li>
            </ul>
        </div>
        <div class="col-md-2 ftr__list nav">
          <h4>Tools</h4>
            <ul>
                <!--<li><label class="heady">Tools</label></li>
                <hr>-->
                <li class="items">Get a Quote</li>
                <li class="items">Parcel Tracking</li>
                <li class="items">My Account</li>
                <li class="items">Volume Calculator</li>
                <li class="items">PrePay</li>
                <li class="items">Item Advice</li>
            </ul>
        </div>
        <div class="col-md-4 ftr__list nav">
          <h4>Follow Us</h4>
                <!--<div class="cons">-->
                    <ul>
                  <!--      <li><label class="heady">Follow Us</label></li><hr>-->
                        <li class="items"><i class="fa fa-twitter"></i><i class="fa fa-twitch"></i><i class="fa fa-google-plus"></i><i class="fa fa-facebook-official"></i></li>
                    </ul>
                </div>
                <div class="col-md-4 ftr__list nav">
                  <h4>Partners</h4>

                    <ul>
                        <!--<li><label class="heady">Partners</label></li><hr>-->
                        <li class="items"><i class="fa fa-truck"></i><i class="fa fa-ship"></i><i class="fa fa-plane"></i></li>
                    </ul>
                </div>
      
    </div>
    <hr>
    <div>
        © posTrack.com Ltd 2017 All Rights Reserved. | Company Number: XXXXXXXXX
    </div><br><br><br>
</footer>

