<div class="superadmin">

<table class="table table-striped table-hover table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th>S.No</th>
      <th><span class="glyphicon glyphicon-asterisk" style="font-size:12px"></span> Consignment Id</th>
      <th><i class="fa fa-dollar" style="font-size:15px"></i> Total Payment</th>
      <th><i class="fa fa-dollar" style="font-size:15px"></i> Received Payment</th>
      <th><i class="fa fa-dollar" style="font-size:15px"></i> Remaining Payment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of P_arr; let j=index">
      <th scope="row">{{j}}</th>
      <td>{{i.ConId}}</td>
      <td>{{i.TotPt}}</td>
      <td>{{i.RecPt}}</td>
      <td>{{i.RemPt}}</td>
      <td><span class="glyphicon glyphicon-pencil"><button class="badge badge-info">Edit</button></span></td>
    </tr>
  </tbody>
</table>

</div>