.superadmin
{	
	margin-top: 0px;
	padding-left: 200px;
	padding-right: 0px;
}


@media screen and (min-width:280px ) and (max-width:480px )
{
	.superadmin
{	
	margin-top: 0px;
	padding-left: 100px;
	padding-right: 0px;
}

}