

<!-- Sub banner start -->
<div class="sub-banner">
  <div class="overlay">
      <div class="container">
          <div class="breadcrumb-area">
              <div class="top">
                  <h1>Properties Detail</h1>
              </div>
              <ul class="breadcrumbs">
                  <li><a  [routerLink] = "['/Home']">Home</a></li>
                  <li class="active">Properties Detail</li>
              </ul>
          </div>
      </div>
  </div>
</div>
<!-- Sub Banner end -->

<!-- Properties details page start -->
<div class="properties-details-page">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class="properties-details-section">
                  <!-- Header -->
                  <div class="heading-properties clearfix">
                      <div class="pull-left">
                          <h3>4552 Lynn Avenue</h3>
                          <p>
                              20-21 South delhi
                          </p>
                      </div>
                     
                  </div>
                  <!-- Properties detail slider start -->
                  <div class="properties-detail-slider simple-slider mrg-btm-40 ">
                      <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                          <div class="carousel-outer">
                              <!-- Wrapper for slides -->
                              <div class="carousel-inner">
                                  <div class="item">
                                      <img src="./assets/img/properties/properties-1.jpg" class="thumb-preview" alt="Chevrolet Impala">
                                  </div>
                                  <div class="item">
                                      <img src="./assets/img/properties/properties-2.jpg" class="thumb-preview" alt="Chevrolet Impala">
                                  </div>
                                  <div class="item">
                                      <img src="./assets/img/properties/properties-7.jpg" class="thumb-preview" alt="Chevrolet Impala">
                                  </div>
                                  <div class="item">
                                      <img src="./assets/img/properties/properties-8.jpg" class="thumb-preview" alt="Chevrolet Impala">
                                  </div>
                                  <div class="item">
                                      <img src="./assets/img/properties/properties-5.jpg" class="thumb-preview" alt="Chevrolet Impala">
                                  </div>
                                  <div class="item">
                                      <img src="./assets/img/properties/properties-6.jpg" class="thumb-preview" alt="Chevrolet Impala">
                                  </div>
                                  <div class="item active">
                                      <img src="./assets/img/properties/properties-3.jpg" class="thumb-preview" alt="Chevrolet Impala">
                                  </div>
                              </div>
                              <!-- Controls -->
                              <a class="left carousel-control" href="#carousel-custom" role="button" data-slide="prev">
                                  <span class="slider-mover-left no-bg" aria-hidden="true">
                                      <img src="./assets/img/chevron-left.png" alt="chevron-left">
                                  </span>
                                  <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#carousel-custom" role="button" data-slide="next">
                                  <span class="slider-mover-right no-bg" aria-hidden="true">
                                      <img src="./assets/img/chevron-right.png" alt="chevron-right">
                                  </span>
                                  <span class="sr-only">Next</span>
                              </a>
                          </div>
                          <!-- Indicators -->
                          <ol class="carousel-indicators thumbs visible-lg visible-md">
                              <li data-target="#carousel-custom" data-slide-to="0" class=""><img src="./assets/img/properties/properties-small-1.jpg" alt="Chevrolet Impala"></li>
                              <li data-target="#carousel-custom" data-slide-to="1" class=""><img src="./assets/img/properties/properties-small-2.jpg" alt="Chevrolet Impala"></li>
                              <li data-target="#carousel-custom" data-slide-to="2" class=""><img src="./assets/img/properties/properties-small-7.jpg" alt="Chevrolet Impala"></li>
                              <li data-target="#carousel-custom" data-slide-to="3" class=""><img src="./assets/img/properties/properties-small-8.jpg" alt="Chevrolet Impala"></li>
                              <li data-target="#carousel-custom" data-slide-to="4" class=""><img src="./assets/img/properties/properties-small-5.jpg" alt="Chevrolet Impala"></li>
                              <li data-target="#carousel-custom" data-slide-to="5" class=""><img src="./assets/img/properties/properties-small-6.jpg" alt="Chevrolet Impala"></li>
                              <li data-target="#carousel-custom" data-slide-to="6" class=""><img src="./assets/img/properties/properties-small-3.jpg" alt="Chevrolet Impala"></li>
                          </ol>
                      </div>
                  </div>
                  <!-- Properties detail slider end -->

                  <!-- Specifications start -->
                  <div class="sidebar specifications mrg-btm-30 clearfix hidden-lg hidden-md">
                      <div class="section-heading">
                          <div class="media">
                              <div class="media-left">
                                  <i class="flaticon-apartment"></i>
                              </div>
                              <div class="media-body">
                                  <h4>Real Specifications</h4>
                                  <p>Check the Real specifications</p>
                              </div>
                          </div>
                      </div>
                      <!-- Reviews Box -->
                      
                      <p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui voluptatem sequi nesciunt.<br><br>
                          Neque porro quisqua. Sed ut perspiciatis unde omnis ste natus error sit voluptatem.</p>

                      <a href="#" class="wishlist-btn">
                          <span class="wishlist-btn-l">
                              <i class="fa fa-plus"></i>
                          </span>
                          <span class="wishlist-btn-r">Add to favorite list</span>
                          <div class="clear"></div>
                      </a>
                      <a href="#" class="book-btn">
                          <span class="book-btn-l"><i class="fa fa-check"></i></span>
                          <span class="book-btn-r">Add to favorite list</span>
                          <div class="clear"></div>
                      </a>
                  </div>
                  <!-- Specifications end -->

                  <!-- Properties description start -->
                  <div class="properties-description mrg-btm-40 ">
                      <h3 class="heading">
                          Description
                      </h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra a. Aliquam pellentesque nibh et nibh feugiat gravida. Maecenas ultricies, diam vitae semper placerat, velit risus accumsan nisl, eget tempor lacus est vel nunc. Proin accumsan elit sed neque euismod fringilla. Curabitur lobortis nunc velit, et fermentum urna dapibus non. Vivamus magna lorem, elementum id gravida ac, laoreet tristique augue. Maecenas dictum lacus eu nunc porttitor, ut hendrerit arcu efficitur.</p>
                      <p>Nam mattis lobortis felis eu blandit. Morbi tellus ligula, interdum sit amet ipsum et, viverra hendrerit lectus. Nunc efficitur sem vel est laoreet, sed bibendum eros viverra. Vestibulum finibus, ligula sed euismod tincidunt, lacus libero lobortis ligula, sit amet molestie ipsum purus ut tortor. Nunc varius, dui et sollicitudin facilisis, erat felis imperdiet felis, et iaculis dui magna vitae diam. Donec mattis diam nisl, quis ullamcorper enim malesuada non. Curabitur lobortis eu mauris nec vestibulum. Nam efficitur, ex ac semper malesuada nisi odio consequat dui, hendrerit vulputate odio dui vitae massa. Aliquam tortor urna, tincidunt </p>
                  </div>
                  <!-- Properties description end -->

                  <!-- Properties condition start -->
                  <div class="properties-condition mrg-btm-40 ">
                      <h3 class="heading">
                          Property Details
                      </h3>
                      <div class="row">
                          <div class="col-md-4 col-sm-4 col-xs-12">
                              <ul class="condition">
                                  <li>
                                      <i class="flaticon-bed"></i>2 Bedroom
                                  </li>
                                  <li>
                                      <i class="flaticon-holidays"></i>Bathroom
                                  </li>
                              </ul>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12">
                              <ul class="condition">
                                  <li>
                                      <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>4800 sq ft
                                  </li>
                                  <li>
                                      <i class="flaticon-monitor"></i>TV Lounge
                                  </li>
                              </ul>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12">
                              <ul class="condition">
                                  <li>
                                      <i class="flaticon-vehicle"></i>1 Garage
                                  </li>
                                  <li>
                                      <i class="flaticon-building"></i>Balcony
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!-- Properties condition end -->

                  <!-- Properties amenities start -->
                  <div class="properties-amenities mrg-btm-40 ">
                      <h3 class="heading">
                          Features
                      </h3>
                      <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                              <ul class="amenities">
                                  <li>
                                      <i class="flaticon-air-conditioner"></i>Air conditioning
                                  </li>
                                  <li>
                                      <i class="flaticon-bars"></i>Balcony
                                  </li>
                                  <li>
                                      <i class="flaticon-people-2"></i>Pool
                                  </li>
                                  <li>
                                      <i class="flaticon-monitor"></i>TV Lounge
                                  </li>
                                  <li>
                                      <i class="flaticon-weightlifting"></i>Gym
                                  </li>
                              </ul>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                              <ul class="amenities">
                                  <li>
                                      <i class="flaticon-wifi"></i>Wifi
                                  </li>
                                  <li>
                                      <i class="flaticon-transport"></i>Parking
                                  </li>
                                  <li>
                                      <i class="flaticon-bed"></i>Double Bed
                                  </li>
                                  <li>
                                      <i class="flaticon-machine"></i>Iron
                                  </li>
                              </ul>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                              <ul class="amenities">
                                  <li>
                                      <i class="flaticon-old-telephone-ringing"></i>Telephone
                                  </li>
                                  <li>
                                      <i class="flaticon-person-enjoying-jacuzzi-hot-water-bath"></i>Jacuzzi
                                  </li>
                                  <li>
                                      <i class="flaticon-clock"></i>Alarm
                                  </li>
                                  <li>
                                      <i class="flaticon-vehicle"></i>Garage
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!-- Properties amenities end -->

                  <!-- Location start -->
                  <div class="sectionc location mrg-btm-40">
                      <div class="map">
                          <h3 class="heading">Location</h3>
                          <div id="map" class="contact-map"></div>
                      </div>
                  </div>
                  <!-- Location end -->
              </div>

              <div class="properties-details-section">
                  <!-- Properties comments start -->
                  <div class="properties-comments mrg-btm-40">
                      <h3 class="heading">
                          Comments Section
                      </h3>
                      <ul class="comments">
                          <li>
                              <div class="comment">
                                  <div class="comment-author">
                                      <a href="#">
                                          <img src="./assets/img/avatar/avatar-5.png" alt="avatar-5">
                                      </a>
                                  </div>
                                  <div class="comment-content">
                                      <div class="comment-meta">
                                          <div class="comment-meta-author">
                                              Posted by <a href="#">admin</a>
                                          </div>
                                          <div class="comment-meta-reply">
                                              <a href="#">Reply</a>
                                          </div>
                                          <div class="comment-meta-date">
                                              <span class="hidden-xs">8:42 PM 1/28/2017</span>
                                          </div>
                                      </div>
                                      <div class="clearfix"></div>
                                      <div class="comment-body">
                                          <div class="comment-rating">
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star-o"></i>
                                          </div>
                                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                      </div>
                                  </div>
                              </div>
                              <ul>
                                  <li>
                                      <div class="comment">
                                          <div class="comment-author">
                                              <a href="#">
                                                  <img src="./assets/img/avatar/avatar-5.png" alt="avatar-5">
                                              </a>
                                          </div>

                                          <div class="comment-content">
                                              <div class="comment-meta">
                                                  <div class="comment-meta-author">
                                                      Posted by <a href="#">admin</a>
                                                  </div>
                                                  <div class="comment-meta-reply">
                                                      <a href="#">Reply</a>
                                                  </div>
                                                  <div class="comment-meta-date">
                                                      <span class="hidden-xs">3:54 PM 1/15/2018</span>
                                                  </div>
                                              </div>
                                              <div class="clearfix"></div>
                                              <div class="comment-body">
                                                  <div class="comment-rating">
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star-half-o"></i>
                                                      <i class="fa fa-star-o"></i>
                                                  </div>
                                                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                              </div>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </li>
                          <li>
                              <div class="comment">
                                  <div class="comment-author">
                                      <a href="#">
                                          <img src="./assets/img/avatar/avatar-5.png" alt="avatar-5">
                                      </a>
                                  </div>
                                  <div class="comment-content">
                                      <div class="comment-meta">
                                          <div class="comment-meta-author">
                                              Posted by <a href="#">admin</a>
                                          </div>
                                          <div class="comment-meta-reply">
                                              <a href="#">Reply</a>
                                          </div>
                                          <div class="comment-meta-date">
                                              <span class="hidden-xs">8:42 PM 1/28/2017</span>
                                          </div>
                                      </div>
                                      <div class="clearfix"></div>
                                      <div class="comment-body">
                                          <div class="comment-rating">
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star-o"></i>
                                          </div>
                                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                      </div>
                                  </div>
                              </div>
                              <ul>
                                  <li>
                                      <div class="comment">
                                          <div class="comment-author">
                                              <a href="#">
                                                  <img src="./assets/img/avatar/avatar-5.png" alt="avatar-5">
                                              </a>
                                          </div>

                                          <div class="comment-content">
                                              <div class="comment-meta">
                                                  <div class="comment-meta-author">
                                                      Posted by <a href="#">admin</a>
                                                  </div>
                                                  <div class="comment-meta-reply">
                                                      <a href="#">Reply</a>
                                                  </div>
                                                  <div class="comment-meta-date">
                                                      <span class="hidden-xs">3:54 PM 1/15/2018</span>
                                                  </div>
                                              </div>
                                              <div class="clearfix"></div>
                                              <div class="comment-body">
                                                  <div class="comment-rating">
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star-half-o"></i>
                                                      <i class="fa fa-star-o"></i>
                                                  </div>
                                                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                              </div>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </li>
                      </ul>
                  </div>
                  <!-- Properties comments end -->

                  <!-- Contact form start -->
                  <div class="contact-form">
                      <h2 class="comments-title">Contact with us</h2>
                      <form id="contact_form" action="https://storage.googleapis.com/themeforest-real-house/index.html" method="POST" enctype="multipart/form-data">
                          <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <div class="form-group fullname">
                                      <input type="text" name="full-name" class="input-text" placeholder="Full Name">
                                  </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <div class="form-group enter-email">
                                      <input type="email" name="email" class="input-text"  placeholder="Enter email">
                                  </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <div class="form-group subject">
                                      <input type="text" name="subject" class="input-text" placeholder="Subject">
                                  </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <div class="form-group number">
                                      <input type="text" name="phone" class="input-text" placeholder="Phone Number">
                                  </div>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                  <div class="form-group message">
                                      <textarea class="input-text" name="message" placeholder="Write message"></textarea>
                                  </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                  <div class="form-group send-btn mrg-btn-0">
                                      <button type="submit" class="button-md button-theme">Send Message</button>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
                  <!-- Contact form end -->
              </div>

          </div>
          <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="sidebar right">
                  <!-- Specifications start -->
                  <div class="sidebar sidebar-widget specifications clearfix hidden-xs hidden-sm">
                      <div class="section-heading">
                          <div class="media">
                              <div class="media-left">
                                  <i class="flaticon-apartment"></i>
                              </div>
                              <div class="media-body">
                                  <h4>Real Specifications</h4>
                                  <p>Check the Real specifications</p>
                              </div>
                          </div>
                      </div>
                      <!-- Reviews Box -->
                      <div class="reviews-box clearfix">
                          <ul class="reviews-star-list">
                              <li>
                                  <i class="fa fa-star"></i>
                              </li>
                              <li>
                                  <i class="fa fa-star"></i>
                              </li>
                              <li>
                                  <i class="fa fa-star"></i>
                              </li>
                              <li>
                                  <i class="fa fa-star"></i>
                              </li>
                              <li>
                                  <i class="fa fa-star-o"></i>
                              </li>
                          </ul>
                          <div class="reviews">156 reviews</div>
                          <a href="#" class="add-review">
                              <i class="fa fa-plus-circle"></i>Add Review
                          </a>
                      </div>
                      <p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui voluptatem sequi nesciunt.<br><br>
                      Neque porro quisqua. Sed ut perspiciatis unde omnis ste natus error sit voluptatem.</p>

                      <a href="#" class="wishlist-btn">
                          <span class="wishlist-btn-l">
                              <i class="fa fa-plus"></i>
                          </span>
                          <span class="wishlist-btn-r">Add to favorite list</span>
                          <div class="clear"></div>
                      </a>
                      <a href="#" class="book-btn">
                          <span class="book-btn-l"><i class="fa fa-check"></i></span>
                          <span class="book-btn-r">Add to favorite list</span>
                          <div class="clear"></div>
                      </a>
                  </div>
                  <!-- Specifications end -->

                  <!-- Print section start -->
                  <div class="print-section">
                      <a class="widget-link"><i class="flaticon-technology-2"></i> Print</a>
                      <a class="widget-link" data-save-title="Save" data-saved-title="Saved"><i class="flaticon-shape"></i>Bookmark</a>
                  </div>
                  <!-- print-section end -->

                  <!-- Onwer widget start -->
                  <div class="sidebar sidebar-widget contact-form Onwer-widget">
                      <h3>
                          <a href="#">John Doe</a>
                      </h3>
                      <h4>
                          <i class="fa fa-phone"></i>
                          <span>+55 417-634-7071</span>
                      </h4>
                      <form id="Onwer_form" action="https://storage.googleapis.com/themeforest-real-house/index.html" method="POST" enctype="multipart/form-data">
                          <div class="row">
                              <div class="col-lg-12">
                                  <div class="form-group enter-email">
                                      <input type="email" name="email" class="input-text" placeholder="Your Email">
                                  </div>
                              </div>                              
                              <div class="col-lg-12">
                                  <div class="form-group number">
                                      <input type="text" name="phone" class="input-text"  placeholder="Your Phone">
                                  </div>
                              </div>
                              <div class="col-lg-12">
                                  <div class="form-group message">
                                      <textarea class="input-text" name="message" placeholder="I'm interested in this property [ID 123456] and I'd like to know more details."></textarea>
                                  </div>
                              </div>
                              <div class="col-lg-12">
                                 <button type="submit" class="button-md button-theme btn-block">Send Message</button>
                              </div>
                          </div>
                      </form>     
                  </div>
                  <!-- Onwer widget end -->

                  <!-- Featured property box start -->
                  <h3 class="heading">
                      Featured Property
                  </h3>
                  <div class="thumbnail recent-properties-box">
                      <img src="./assets/img/properties/properties-5.jpg" alt="properties-5" class="img-responsive">
                      <!-- Detail -->
                      <div class="caption detail">
                          <!-- Header -->
                          <header class="clearfix">
                              <div class="pull-left">
                                  <h1 class="title">
                                      <a href="properties-details.html">4552 Lynn Avenue</a>
                                  </h1>
                              </div>
                              <!-- Price -->
                              <div class="price">
                                  $2153.00
                              </div>
                          </header>
                          <!-- Location -->
                          <h3 class="location">
                              <a href="#">
                                  <i class="fa fa-map-marker"></i>20-21 South delhi
                              </a>
                          </h3>
                          <!-- Facilities List -->
                          <ul class="facilities-list clearfix">
                              <li class="bordered-right">
                                  <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                                  <span>4800 sq ft</span>
                              </li>
                              <li>
                                  <i class="flaticon-bed"></i>
                                  <span>2 Bedroom</span>
                              </li>
                              <li>
                                  <i class="flaticon-monitor"></i>
                                  <span>1 TV Lounge</span>
                              </li>
                              <li>
                                  <i class="flaticon-holidays"></i>
                                  <span>3 Bathroom</span>
                              </li>
                              <li>
                                  <i class="flaticon-vehicle"></i>
                                  <span>1 Garage</span>
                              </li>
                              <li>
                                  <i class="flaticon-building"></i>
                                  <span> 3 Balcony</span>
                              </li>
                          </ul>
                          <!-- Footer -->
                          <div class="footer">
                              <a href="#">
                                  <i class="fa fa-user"></i> Jhon Doe
                              </a>
                              <span>
                                      <i class="fa fa-calendar-o"></i> 1 day ago
                                  </span>
                          </div>
                      </div>
                      <!-- Tag -->
                      <span class="tag-f">
                              <a href="properties-details.html">Featured</a>
                          </span>
                      <span class="tag-s">
                              <a href="properties-details.html">For Sale</a>
                          </span>
                  </div>
                  <!-- Featured property box end -->
                  <div class="clearfix"></div>

                  <div class="clearfix"></div>
                  <!-- Helping center start -->
                  <div class="sidebar sidebar-widget helping-center">
                      <h3 class="title">Helping Center</h3>
                      <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.</p>
                      <ul class="contact-link">
                          <li>
                              <i class="fa fa-map-marker"></i>
                              Aenean vulputate porttitor
                          </li>
                          <li>
                              <i class="fa fa-phone"></i>
                              <a href="tel:+55-417-634-7071">
                                  +55 417 634 7071
                              </a>
                          </li>
                          <li>
                              <i class="fa fa-envelope-o"></i>
                              <a href="mailto:support@TeamTiger.com">
                                  support@TeamTiger.com
                              </a>
                          </li>
                      </ul>
                  </div>
                  <!-- Helping center end -->

                 
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Properties details page end -->

<!-- Footer start -->
<footer class="main-footer clearfix">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6 footer-item">
              <div class="footer-item-content">
                  <a href="index.html" class="footer-logo">
                      <img src="./assets/img/House-Lannister-Main-Shield.png" alt="footer-logo">
                  </a>
                  <div class="clearfix"></div>
                  <!-- paragraph -->
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
          </div>

          <div class="col-md-3 col-sm-6 footer-item">
              <div class="footer-item-content">
                  <h2 class="title">Address</h2>
                  <!-- Contact Info -->
                  <ul class="contact-info">
                      <li class="clearfix">
                          <i class="fa fa-map-marker fa-lg"></i>
                          <label>F-15 Kalkaji Delhi</label>
                      </li>
                      <li class="clearfix">
                          <i class="fa fa-mobile fa-lg"></i>
                          <label>+55 417-634-7071</label>
                      </li>
                      <li class="clearfix">
                          <i class="fa fa-envelope-o fa-lg"></i>
                          <label>
                              <a href="mailto:sales@TeamTiger.com">sales@TeamTiger.com</a>
                          </label>
                      </li>
                  </ul>
              </div>
          </div>

          <div class="col-md-3 col-sm-6 footer-item clearfix">
              <div class="footer-item-content">
                  <h2 class="title">Helpful Links</h2>
                  <ul class="links">
                    <li>
                      <a  [routerLink] = "['/Login']">Login</a>
                  </li>
                  <li>
                      <a [routerLink] = "['/Signup']">Register</a>
                  </li>
                  <li>
                      <a  [routerLink] = "['/Myprofile']">My Account</a>
                  </li>
                  <li>
                      <a  [routerLink] = "['/Submit']">Add Property</a>
                  </li>
                  <li>
                      <a [routerLink] = "['/Pricing']">Pricing</a>
                  </li>
                  <li>
                      <a [routerLink] = "['/About']">About</a>
                  </li>
                  <li>
                      <a [routerLink] = "['/contact']">Contact</a>
                  </li>
                  </ul>
              </div>
          </div>

          <div class="col-md-3 col-sm-6 footer-item clearfix">
              <div class="footer-item-content">
                  <div class="newsletter">
                      <h2 class="title">Newsletter</h2>
                      <div class="f-text">
                          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </div>

                      <form action="#" method="post">
                          <p>
                              <input class="nsu-field btn-block" id="nsu-email-0" type="text" name="email" placeholder="Enter your Email Address" required="">
                          </p>

                          <p>
                              <button type="submit" class="button-sm button-theme btn-block">Signup</button>

                          </p>
                      </form>
                      <!-- / Newsletter Sign-Up -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- Footer end -->

<!-- Sub footer start -->
<div class="sub-footer">
  <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="copy-right">
              © 2017 <a href="#"> </a>‐ All Rights Reserved
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="social-list">
              <ul class="clearfix">
                  <li class="twitter">
                      <a href="../../twitter.com/mabuc.html" target="_blank">
                          <i class="fa fa-twitter"></i>
                      </a>
                  </li>
                  <li class="facebook">
                      <a href="../../www.facebook.com/mabuc.html" target="_blank">
                          <i class="fa fa-facebook"></i></a>
                  </li>
                  <li class="youtube">
                      <a href="../../youtube.com/index.html" target="_blank">
                          <i class="fa fa-youtube"></i>
                      </a>
                  </li>
                  <li class="linkedin">
                      <a href="../../linkedin.com/index.html" target="_blank">
                          <i class="fa fa-linkedin"></i>
                      </a>
                  </li>
                  <li class="pinterest">
                      <a href="../../www.pinterest.com/mabuc" target="_blank">
                          <i class="fa fa-pinterest"></i>
                      </a>
                  </li>
                  <li class="dribbble">
                      <a href="../../dribbble.com/mabuc.html" target="_blank">
                          <i class="fa fa-dribbble"></i>
                      </a>
                  </li>
                  <li class="gplus">
                      <a href="../../google.com/index.html" target="_blank">
                          <i class="fa fa-google-plus"></i>
                      </a>
                  </li>
                  <li class="instagram">
                      <a href="../../www.instagram.com/envato/index.html" target="_blank">
                          <i class="fa fa-instagram"></i>
                      </a>
                  </li>
                  <li class="rss">
                      <a href="../../feedburner.com/index.html" target="_blank">
                          <i class="fa fa-rss"></i>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
<!-- Sub footer end -->